<%= form_for([@school, @school.grades.build]) do |f| %>
  <% if @grade && @grade.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@grade.errors.count, "error") %> prohibited
        this grade from being saved:
	  </h2>
      <ul>
        <% @grade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
	</div>
  <% end %>
  <p>
    <%= f.label :Subject %><br>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :Average_mark %><br>
    <%= f.number_field :average_mark %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>