<div ng-controller="AdminCtrl">
<!--
	<h1> Control Panel </h1>
	<%= button_to "Update From Server", fetch_schools_path %>
	<%= link_to 'Add School', new_school_path %><br>
  <%= link_to 'Edit School', controller: 'schools'%><br>
</div>
 <p>Import from file</p>
<%= form_tag import_schools_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import" %>
<% end %>
<h2>Update from server</h2>
 -->