<h2>Manage Schools</h2>
<div class="button-row">
  <%= button_to "Update schools from server", fetch_schools_path, class: "btn btn-primary" %>
  <%= button_to "Add school manually", new_school_path, :method => :get, class: "btn btn-primary" %>
  <%= button_to "Add survey data", import_surveys_path, class: "btn btn-primary" %>
  <%= button_to "Add grades data", import_grades_path, class: "btn btn-primary" %>
</div><br/>
<div class="media scroll-table height-70vh">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>School Name</th>
          <th>Address</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

	<tbody>
	  <% @schools.each do |school| %>
	  <tr>
		<td><%= link_to "", school_path(school), class: "glyphicon glyphicon-search" %> <%= school.name %></td>
		<td><%= school.address %></td>
		<td><%= link_to "", edit_school_path(school), class: "glyphicon glyphicon-pencil" %></td>
		<td><%= link_to "", school_path(school),
				method: :delete,
				data: { confirm: "Are you sure?" },
				class: "glyphicon glyphicon-trash" %></td>
	  </tr>
	  <% end %>
	</tbody>
</table>
</div>
</div>